body{
    font-family: Open Sans, sans-serif;
    color: floralwhite;
    background-color: blueviolet;
    text-align: center; 

}
header {
    height: 100px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
}
h1 {

    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 45px;
   
}
section {
    margin: 0 auto;
    display: block;
    max-width: 1024px;
    width: 100%;
}
.card {
    display: inline-block;
    margin: 10px;
    border: 3px solid #21051a;
    vertical-align: top;
    }
.card:hover{
    background-color: #4CAF50; /* Green */
    color: white;
    cursor:pointer;

}
.card img{
    display: block;
    width: 300px;
    height: 300px;

}
.card img:hover{
    background-color: #4CAF50; /* Green */
    color: white;
    cursor:pointer;

}
.card details{
    display: inline-block;
    width: 300px;
    height: auto;

}
.card details summary{
    font-size: 18px;
    padding: 10px;
    color: #adf6b7;
    font-weight: bolder;
  
}
.card details p{
    padding:  0 10px;
}
.card details blockquote{
    color: #e8b2d0;
    font-style: italic;
}
.card details button {
    background-color: #adf6b7 ; /* Green */
    border: none;
    word-wrap:break-word;
    color: blueviolet;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
    border-radius: 22px;
    transition-duration: 0.4s;
    font-weight: bolder;
}
  .card details button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor:pointer;
  }
@media (max-width: 768px) {
   
    header {
        height: 200px;
        margin-bottom: 20px;
    }
     h1 {
        font-size: 36px;
       
    }
   
      .card {
        display: block;
        margin: 20px 10px;
    
      }
    .card img{
        width: 100%;
        height: 100%;
    
    }
    .card details{
        width: 100%;
    
    }
    .card details summary{
        font-size: 16px;
    
    }
    .card details p{
       font-size: 14px;
    }
    .card details button {
        background-color: #adf6b7 ; /* Green */
        border: none;
        word-wrap:break-word;
        color: blueviolet;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        font-weight: bolder;
        border: 1px solid green;
        border-radius: 22px;
        transition-duration: 0.4s;
      }
      .card details button:hover {
        background-color: #4CAF50; /* Green */
        color: white;
        cursor:pointer;
      }
}